@font-face {
font-family: "Nexa Script"; 
src: url("../font/Nexa Script.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "Euro Script"; 
src: url("../font/Euro Script.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "Pacifico"; 
src: url("../font/Pacifico.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

body{
  background-color:#f8f9fa;
}
main{
  padding: 20px 36px;
  box-shadow: 0px 0px 12px rgba(163, 169, 184, 0.36);
  border-radius: 2px;
  font-family: verdana;
  /*, helvetica, sans-serif, verdana, arial;*/
  width: 60vw;
  margin: 64px auto;
  background-color:#fff;
  color: #393E47;
}
sup {
    vertical-align: super;
    font-size: smaller;
}
.anchor{
  cursor: pointer;
  /*text-decoration: underline;*/
}
.wrap{
  position: relative;
}

.hint{
  opacity: 0.0;
  visibility: hidden;
  transition: opacity 0.2s 0s, visibility 0s 1s;
  padding: 6px 24px ;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgba(163, 169, 184, 0.36);
  width: 20vw;
  position: absolute;
}
.hint_low{
    top: 100%;
    right: 0;
}
.anchor:hover ~ .hint{
  opacity: 1.0;
  z-index: 10;
  visibility: visible;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}
.sign{
  display: block;
  white-space: nowrap;
}
.sword{
  padding: 6px 0;
  display: block;
  color: rgb(255,150,0);
  /*rgb(220,120,0) */
  position: relative;
  font-size: 18px;
  font-family: "Euro Script";
}
.swordsign{
  width: 20px;
  vertical-align: middle;
}
.thorn{
  padding: 6px 0;
  display: block;
  color: #000;
  /*font-weight: 500;*/
  font-size: 19px;
  letter-spacing: -0.30px;
  font-family:  "Nexa Script"; 
}
.dirk{
  padding: 6px 0;
  font-size: 18px;
  display: block;
  color: rgb(207,71,71);
  font-family:  "Pacifico"; 

  
}